*, p
    margin: 0 !important
    padding: 0
    list-style: none
    text-decoration: none


@import "./modules/_about"
@import "./modules/_news"
@import "./modules/_blog"
@import "./modules/_testimonials"
@import "./modules/_contact"
@import "./modules/_footer"
