footer
    section
        background-color: $grey-m
        padding: 0 26vh
        .insta-pics
            img
                width: 50px
        p, li, input, button
            font-size: 0.8rem
        input, button
            background-color: $grey-l
            border: none
            padding: 5px 15px
            color: grey
        input:focus
            color: white
        h5
            font-size: 0.8rem
        div
            padding: 0 !important
    .ftr-2
        background-color: $grey-d
        padding: 2.5vh 26vh 1vh
        p
            font-size: 0.8rem