footer
    section
        background-color: $grey-m
        padding: 0 10vh
        .insta-pics
            img
                width: 50px
        p, li, input, button
            font-size: 0.8rem
        input, button
            background-color: $grey-l
            border: none
            padding: 5px 15px
            color: grey
        input:focus
            color: white
        h5
            font-size: 0.8rem
        div
            padding: 0 !important
    .ftr-2
        background-color: $grey-d
        padding: 2vh auto
        display: grid
        grid-template-columns: repeat(auto-fit, minmax(300px, 1fr))
        p
            font-size: 0.8rem