header
    background-image: url('../img/collect/one-page-slider-01.jpg')
    background-size: cover
    height: 100vh
    position: relative
    nav
        padding: 0 10vh
    #pre-main
        padding: 0 25vh
        position: absolute
    #womens
        position: absolute
        bottom: -7vh
        left: 30.3%
        h1
            font-size: 9rem
            text-align: center
