@media screen and (min-width: 1024px)
    footer
        section
            padding: 0 5vh
        .ftr-2
            padding: 2.5vh 26vh 1vh

@media screen and (min-width: 1200px)
    footer
        section
            padding: 0 26vh