@media screen and (min-width : 768px)
    header
        height: 100vh
    #sect-1
        .about
            padding: 10vh
    #sect-2
        img
            width: 100%
    #sect-6
        display: grid
        grid-template-columns: 1fr 60%

@media screen and (min-width: 1024px)
    header
        #pre-main
            .carousel
                .carousel-inner
                    .description
                        p
                            font-size: 1rem
                        h1
                            font-size: 2rem
                        h2
                            font-size: 1.5rem
    #sect-1
        .about
            padding: 10vh 25vh
            display: grid
            grid-template-columns: repeat(2,1fr)
    #sect-2
        padding: 15vh
    #sect-4
        .titre
            padding: 0 35vw
        .testimonials
            .avis
                width: 30%
    #sect-5
        .titre
            padding: 0 35vw
    #sect-6
        display: grid
        grid-template-columns: 30% 1fr 45%
    footer
        #section
            padding: 0 5vh
        .ftr-2
            padding: 2.5vh 26vh 1vh

@media screen and (min-width: 1200px)
    header
        #pre-main
            .carousel
                .carousel-inner
                    .description
                        transform: translateY(50%)
    #sect-2
        padding: 15vh 20vh
    footer
        #section
            padding: 0 26vh
