#sect-4
    background-color: $pink-l
    padding: 15vh 0
    .titre
        padding: 0 5vh
        p
            font-size: 0.8rem
    .testimonials
        width: 100%
        .avis
            width: 80%
            img
                width: 50px
            p
                font-size: 0.9rem

.inactif
    display: none